<!-- 4. Output the animalType string, pet boolean and fierceness number to the page. -->

<p>Breed: {{dog_breed}}</p>
<p>Age: {{age}}</p>
<p>Friendliness: {{friendliness}}</p>
<p>food_requirements: {{food_requirements}}</p>

