 <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="index.html">Dog House</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="login.html">Login</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="my-account.html">My Account</a>
                    </li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="our-story.html">Our Story</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="team.html">The Team</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="faq.html">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="registration.html">Registration</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <div id="homepagecarousel" class="carousel slide homepagecarousel team_s" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/faq.png" class="d-block w-100" alt="">
            </div>
            <div class="carousel-caption d-md-block">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">FAQ</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5" style="font-weight: bold">Lorem Ipsum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FAQ section with bootstrap single drop bars-->
    <section class="page-section bg-light" id="LOGIN">
        <div class="container">
            <div class="faq" id="full-faq">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="accordion faq-area" id="accordionExample">
                            <div class="card">
                                <div class="card-header active" id="heading1">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse1" aria-expanded="false"
                                            aria-controls="collapse1">
                                            Frequently Asked Question About the Dog House 1
                                            <svg width="15" class="fa-caret-down" height="15" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.8572 14.4034L19.4625 3.29414C19.814 2.78109 20 2.26416 20 1.8345C20 1.00381 19.3333 0.48996 18.2174 0.48996L1.78003 0.48996C0.665388 0.48996 4.91725e-08 1.00317 4.91725e-08 1.83191C4.91725e-08 2.26222 0.18618 2.7709 0.538625 3.28507L8.1438 14.3995C8.63369 15.1142 9.29292 15.5101 10.0009 15.5101C10.7084 15.5102 11.3674 15.1189 11.8572 14.4034Z"/>
                                            </svg>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse1" class="collapse show" aria-labelledby="heading1"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis sit deserunt atque explicabo asperiores dignissimos aut, fugiat suscipit exercitationem quidem quaerat similique itaque aliquam quia quasi ex? Hic dignissimos blanditiis quam illo adipisci temporibus nobis in iure, est ipsa non.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading2">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                                            aria-controls="collapse2">
                                            Frequently Asked Question About the Dog House 2
                                            <svg width="15" class="fa-caret-down" height="15" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.8572 14.4034L19.4625 3.29414C19.814 2.78109 20 2.26416 20 1.8345C20 1.00381 19.3333 0.48996 18.2174 0.48996L1.78003 0.48996C0.665388 0.48996 4.91725e-08 1.00317 4.91725e-08 1.83191C4.91725e-08 2.26222 0.18618 2.7709 0.538625 3.28507L8.1438 14.3995C8.63369 15.1142 9.29292 15.5101 10.0009 15.5101C10.7084 15.5102 11.3674 15.1189 11.8572 14.4034Z"/>
                                            </svg>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse2" class="collapse" aria-labelledby="heading2"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quisquam corrupti, reiciendis dolores placeat praesentium laudantium, soluta eos laboriosam aut beatae pariatur ullam vitae, tenetur nulla numquam. Doloremque ea nobis ad voluptate facere quos, praesentium eaque voluptas rerum labore! Consequuntur.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading3">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
                                            aria-controls="collapse3">
                                            Frequently Asked Question About the Dog House 3
                                            <svg width="15" class="fa-caret-down" height="15" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.8572 14.4034L19.4625 3.29414C19.814 2.78109 20 2.26416 20 1.8345C20 1.00381 19.3333 0.48996 18.2174 0.48996L1.78003 0.48996C0.665388 0.48996 4.91725e-08 1.00317 4.91725e-08 1.83191C4.91725e-08 2.26222 0.18618 2.7709 0.538625 3.28507L8.1438 14.3995C8.63369 15.1142 9.29292 15.5101 10.0009 15.5101C10.7084 15.5102 11.3674 15.1189 11.8572 14.4034Z"/>
                                            </svg>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse3" class="collapse" aria-labelledby="heading3"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime amet eum earum consequuntur cumque. Placeat obcaecati saepe ea facilis distinctio, deserunt quia voluptatum tempora possimus quod iusto, cupiditate error provident! Cum, unde amet eos dicta dolor molestias quas eligendi id!
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading4">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
                                            aria-controls="collapse4">
                                            Frequently Asked Question About the Dog House 4
                                            <svg width="15" class="fa-caret-down" height="15" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.8572 14.4034L19.4625 3.29414C19.814 2.78109 20 2.26416 20 1.8345C20 1.00381 19.3333 0.48996 18.2174 0.48996L1.78003 0.48996C0.665388 0.48996 4.91725e-08 1.00317 4.91725e-08 1.83191C4.91725e-08 2.26222 0.18618 2.7709 0.538625 3.28507L8.1438 14.3995C8.63369 15.1142 9.29292 15.5101 10.0009 15.5101C10.7084 15.5102 11.3674 15.1189 11.8572 14.4034Z"/>
                                            </svg>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="heading4"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque libero ea laudantium excepturi omnis a aspernatur beatae assumenda quia perferendis? Reiciendis deleniti non at voluptas tempora velit accusantium, culpa voluptatum quasi mollitia perspiciatis, dolor nam, vero ex repellendus explicabo? Dolores.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">Copyright © 2021 - Team Dog House</div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/scripts.js"></script>