<!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Dog House</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/my-account">My Account</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/story">Our Story</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/team">The Team</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/faq">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/registration">Registration</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <div id="homepagecarousel" class="carousel slide homepagecarousel team_s" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/faq.png" class="d-block w-100" alt="">
            </div>
            <div class="carousel-caption d-md-block">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">FAQ</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5" style="font-weight: bold">Lorem Ipsum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FAQ section with bootstrap single drop bars-->
    <section class="page-section bg-light" id="LOGIN">
        <div class="container">
            <div class="faq" id="full-faq">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="accordion faq-area" id="accordionExample">
                            <div class="card">
                                <div class="card-header active" id="heading1">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse1" aria-expanded="false"
                                            aria-controls="collapse1">
                                            FAQ 1 - What does the friendliness rating mean?
                                            <svg width="15" class="fa-caret-down" height="15" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.8572 14.4034L19.4625 3.29414C19.814 2.78109 20 2.26416 20 1.8345C20 1.00381 19.3333 0.48996 18.2174 0.48996L1.78003 0.48996C0.665388 0.48996 4.91725e-08 1.00317 4.91725e-08 1.83191C4.91725e-08 2.26222 0.18618 2.7709 0.538625 3.28507L8.1438 14.3995C8.63369 15.1142 9.29292 15.5101 10.0009 15.5101C10.7084 15.5102 11.3674 15.1189 11.8572 14.4034Z"/>
                                            </svg>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse1" class="collapse show" aria-labelledby="heading1"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        ON the dog register page, we ask all dog owners to assign your dog’s friendliness level  on a scale of 1 to 5.
One indicated that your dog doesn’t like people or other dogs at all, and five indicates that your dog is friendly with all humans and dogs. Anything in between means that they are in the middle. (if a dog does have a rating of one, DogHouse reserves the right to refuse boarding)
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading2">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                                            aria-controls="collapse2">
                                            FAQ 2 Do you accommodate dogs with a raw food diet?
                                            <svg width="15" class="fa-caret-down" height="15" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.8572 14.4034L19.4625 3.29414C19.814 2.78109 20 2.26416 20 1.8345C20 1.00381 19.3333 0.48996 18.2174 0.48996L1.78003 0.48996C0.665388 0.48996 4.91725e-08 1.00317 4.91725e-08 1.83191C4.91725e-08 2.26222 0.18618 2.7709 0.538625 3.28507L8.1438 14.3995C8.63369 15.1142 9.29292 15.5101 10.0009 15.5101C10.7084 15.5102 11.3674 15.1189 11.8572 14.4034Z"/>
                                            </svg>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse2" class="collapse" aria-labelledby="heading2"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        Yes we do. You can either bring the food supply yourself, or if you give us enough time, we will order it for you in preparation for your dog’s stay, to which a surcharge will apply.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading3">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
                                            aria-controls="collapse3">
                                            FAQ 3 Do you let the dogs boarding with you play with each other?
                                            <svg width="15" class="fa-caret-down" height="15" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.8572 14.4034L19.4625 3.29414C19.814 2.78109 20 2.26416 20 1.8345C20 1.00381 19.3333 0.48996 18.2174 0.48996L1.78003 0.48996C0.665388 0.48996 4.91725e-08 1.00317 4.91725e-08 1.83191C4.91725e-08 2.26222 0.18618 2.7709 0.538625 3.28507L8.1438 14.3995C8.63369 15.1142 9.29292 15.5101 10.0009 15.5101C10.7084 15.5102 11.3674 15.1189 11.8572 14.4034Z"/>
                                            </svg>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse3" class="collapse" aria-labelledby="heading3"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        That all depends on what the client asks for in terms of socialization. We can let dogs with similar friendliness ratings play together if both clients allow it, or we can have human playmates for the dogs who prefer human company more. Either way their play time is supervised at all times.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading4">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
                                            aria-controls="collapse4">
                                            FAQ 4 How do I keep track of my dog when he or she is boarding at Doghouse?
                                            <svg width="15" class="fa-caret-down" height="15" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.8572 14.4034L19.4625 3.29414C19.814 2.78109 20 2.26416 20 1.8345C20 1.00381 19.3333 0.48996 18.2174 0.48996L1.78003 0.48996C0.665388 0.48996 4.91725e-08 1.00317 4.91725e-08 1.83191C4.91725e-08 2.26222 0.18618 2.7709 0.538625 3.28507L8.1438 14.3995C8.63369 15.1142 9.29292 15.5101 10.0009 15.5101C10.7084 15.5102 11.3674 15.1189 11.8572 14.4034Z"/>
                                            </svg>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="heading4"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        We have an interactive client portal that keeps you dogs information, and can be updated by the doghouse  staff to always keep you in the loop regarding your furry family member.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">Copyright © 2021 - Team Dog House</div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/scripts.js"></script>